button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.colorCaja {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}